body {
    margin-top: 60px;
    background-color: aqua;
}

.navbar {
    display: block;
    background: #6a7dff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 0;
    box-sizing: border-box;
    padding: 7px 30px;
}
.menu {
    font-size: 14px;
    line-height: 1;
    padding: 0;
    margin: 0;
    /*display: inline-block;*/
    color: #fffee8;
    display: block;
}
.menu-right {
    float: right;
}
.menu li {
    display: inline-block;
}
.menu a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 5px 15px;
}
.menu a:hover {
    color: #ffc122;
    text-decoration: underline;
}
.form_error {
    color: red;
    font-size: 12px;
    margin: 5px 0 0 0;
}
.field_error {
    border: solid 1px red;
    box-shadow: red 0 0 3px;
}
.pagination {
   text-align: center;
}

.pagination a, .pagination .page-disabled {
   display: inline-block;
   border: solid 1px #6a7ddd;
   border-radius: 3px;
   padding: 5px;
   margin: 3px;
   text-decoration: none;
}

.pagination a {
   background: #6a7ddd;
   color: white;
}

.pagination a:hover {
   background: #6a7dff;
   text-decoration: underline;
}

.pagination .page-disabled {
   background: #6a7dcc;
   color: #dddddd
}

.task {
    border: solid 1px #cccccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.task p {
    margin: 0 0 5px;
}

.task-links {
    text-align: right;
}

.task .task-links {
    margin: 5px 0 0;
}

.avatar {
    display: inline-block;
    float: left;
    width: 250px;
    height: auto;
    margin-right: 20px;
}

h1 {
    text-align: center;
}

.comment-list {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.comment {
    border: solid 1px #cccccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.comment p {
    margin: 0 0 5px;
}

.comment-links {
    text-align: right;
}

.comment .comment-links {
    margin: 5px 0 0;
}