{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<header>
    {% if user.is_authenticated %}
        {{ user.username }}
        <a href="{% url 'accounts:logout' %}">Выйти</a>
    {% else %}
        <a href="{% url 'accounts:login' %}">Войти</a>
        <a href="{% url 'accounts:register' %}">Регистрация</a>
    {% endif %}
</header>
{#<nav class="navbar">Islam#}
{#    <div class="container">#}
{#        <ul class="menu">#}
{#            <li><a href="{% url 'webapp:index' %}">Главная</a></li>#}
{#            {% block menu %}{% endblock %}#}
{#            <li class="menu-right">#}
{#                        <ul>#}
{#                    {% if request.user.is_authenticated %}#}
{#                        <li><a href="{% url 'accounts:detail' user.pk  %}">Привет, {{ request.user }}!</li>#}
{#                        <li><a href="{% url 'accounts:logout'  %}">Log Out</a></li>#}
{#                    {% else %}#}
{#                        <li><a href="{% url 'accounts:login'  %}">Log In</a></li>#}
{#                            <li class="menu-right"><a href="{% url 'accounts:register' %}?next={{ request.get_full_path }}" class="nav-link">Регистрация</a></li>#}
{#                    {% endif %}#}
{#                </ul>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{#</nav>#}
{% block content %}{% endblock content %}
</body>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>

