{% extends 'base.html' %}
{% block title %} {{ user_obj.username }} Detail| Tanze.com{% endblock %}

{% block menu %}
    <li><a class="nav-link" href="{% url 'accounts:user_update' user.pk %}" tabindex="-1" aria-disabled="true">Update info</a></li>
    <li><a class="nav-link" href="{% url 'accounts:user_change_password' user.pk %}" tabindex="-1" aria-disabled="true">Change password</a></li>
{% endblock %}
{% block content %}
    <h1 class="text-center">Личный кабинет</h1>
    <div class="row">
        <div class="col col-12 col-sm-10 col-md-8 col-lg-6 m-auto">
            {% if user_obj.profile.avatar %}
                <img src="{{ user_obj.profile.avatar.url }}" class="img-fluid" alt="{{ user_obj.username }}">
            {% endif %}
            <div class="mt-3">
                <p><b>Имя пользователя:</b> {{ user.username }}</p>
                <p><b>Имя:</b> {{ user.first_name }}</p>
                <p><b>Фамилия:</b> {{ user.last_name }}</p>
                <p><b>Почта:</b> {{ useк.email }}</p>
            </div>
        </div>
    </div>
{% endblock %}