{% extends 'base.html' %}

{% block content %}
    {{ object.username }}
    <h1 class="text-center">Личный кабинет</h1>
    <div class="row">
        <div class="col col-12 col-sm-10 col-md-8 col-lg-6 m-auto">
            {% if object.profile.avatar %}
                <img src="{{ object.profile.avatar.url }}" class="img-fluid">
            {% endif %}
            <div class="mt-3">
                <p><b>Имя пользователя:</b> {{ object.username }}</p>
                <p><b>Имя:</b> {{ object.first_name }}</p>
                <p><b>Фамилия:</b> {{ user_obj.last_name }}</p>
            </div>
        </div>
    </div>
    <h1 class="text-center">Списак фоловеров</h1>
    {% for friend in user.profile.friends.all %}
       <p><b>Имя пользователя:</b> {{ friend.user.username }}</p>
    {% endfor %}

    {% if user.is_authenticated %}
        <button type="button" class="send-message" data-id="{{ object.id }}">Отправить сообщение</button>
    {% endif %}
    <div id="chat-form-wrap">
        <div class="modal-content"></div>
    </div>
{% endblock content %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('.send-message').click(function () {
                let id = $(this).data("id");
                let modal = $("#chat-form-wrap");
                let xhr = $.ajax({
                    url: `http://localhost:8000/chat-form/${id}/`,
                    success: function (data) {
                        modal.find('.modal-content').html(data);
                    }
                });
            })
        });
    </script>

{% endblock js %}